  body{
	background: url(../images/background-body.png);
	width: 100%;
	font-size: 100%;
}

@font-face {
    font-family: "Lobster"; 
    src: url(../font/lobster.ttf);
   }

.header{
	height: 100px;
	width: 100%;
	background: url(../images/backgroung-head.png);
	background-size: cover;
}

.logo-wrap{
	width: 1000px;
	margin: 0 auto;
	height: 100px;
}

.separator{
	padding-left: 15px;
	padding-top: 45px;
}

.logo-text{
	float: left;
	padding-top: 2.5%; 
	font-family: "Lobster"; 
	color: #ffffff;
	font-size: 2.5em;

	/*-webkit-box-reflect: below;0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(255,255,255,0.2)));*/
}

.slogan{
	font-family: Arial;
	color: #ffffff;
	font-size: 69.5%;
	padding-left: 10px;
}

.social{
	float: right;
	width: 7.5%;
	padding-top: 45px;
}

.social a{
	padding-right: 10px;
}

.social a:last-child{
	padding-right: 0px;
}

.header-menu{
	width: 100%;
	height: 45px;
	background: url(../images/background-menu.png);
	background-size: cover;
	border-top: 1px dashed #948e8d;
	border-bottom: 1px dashed #948e8d;
}

.background-menu{
	height: 45px;
	width: 100%;
	border-top: 1px dashed #948e8d;
	border-bottom: 1px dashed #948e8d;; 
}

.header-menu nav{
	width: 1000px;
	margin: 0 auto;
	padding-top: 0.95em;/*15px;*/
	height: 45px;
}

.header-menu a{
	font-size: 1em;
	font-weight: 600;
	padding: 0px 1.3125em 0px 1.3125em;
	color: #3e3e3e;
	text-decoration: none;
}

.header-menu a:hover{
	border-radius: 2px;
	background: #65625f;
	color: #ffffff;
}

.main{
	position: relative;
	margin: 70px auto;
	width: 1000px;
	height: 1100px;
	background: #f9f9f9;
	border: 1px solid #ccc;
  	border-radius: 7px; 
}

.left-sidebar{
	width: 24%;
	float: left;
}

.left-sidebar ul{
	list-style: none;
	margin-top: 0.25em;
	padding: 0px;
}

.left-sidebar a{
	font-size: 0.95em;
	/*padding-left: 50px;*/
	padding: 17px 0px 17px 50px;
	text-decoration: none;
	font-family: Tahoma;
	font-weight: 600;
	color: #787878;
}

.left-sidebar li{

	padding-top: 12px;
	width: 104%;
	padding-bottom: 12px;
	border-bottom: 1px solid #eeeeee;
	background: url(../images/menu-image.png) no-repeat;
	background-position: 185px -1px;
	height: 20px;
}

.left-sidebar li:hover{
	background-position: 185px -61px;
}

.left-sidebar a:hover{
	color: #f14134;
}

.general-column {
	float: right;
	padding-top: 15px;
	height: 1100px;
	width: 75%;
	border-left: 1px solid #dddbdb;
}

.breadcrumb{
	font-family: Verdana;
	font-size: 0.8em;
	font-weight: 600;
	color: #666666;
	width: 95%;
	border-bottom: 1px solid #dddbdb;
	margin: 0 auto;
}

.search-box{
	position: absolute;
	top: 109px;
	left: 1270px;
	/*left: 1270px;*/
	width: 250px;
	height: 45px;
}

.search-box input[type="search"]{
	position: inherit;
 	width:250px;
	height: 25px;
	border: 1px solid #d2d1d1;
	color: #ccc;
	font-size: 0.7em;

}

 .search-box input[type="button"]{
 	position: inherit;
 	left: 158px;
 	/*left: 158px;*/
 	top: 4px;
	background: url(../images/search.png);
	color: #ffffff;
	outline: none;
	height: 23px; 
	width: 25px;
	border: none;
}

/*----------------------------------------------------------------
@media (max-width: 768px){

	  body{
	background: url(../images/background-body.png);
	width: 100%;
}

@font-face {
    font-family: "Lobster"; 
    src: url(../font/lobster.ttf);
   }

.header{
	width: 90%;
	background-size: 90%;
}

.logo-wrap{
	position: relative;
	top: 2%;
	width:100%;
	margin: 0 auto;
}

.separator{
	position: relative;
	/*top: 32px;
	margin: auto;
	left: 6%;
}
.logo-text{
	position: relative;
	font-family: "Lobster"; 
	color: #ffffff;
	font-size: 250%;
	/*-webkit-box-reflect: below;0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(255,255,255,0.2)));

	left: 5%;
	top: 30px;
	margin: auto;
	
}
.slogan{
	position: relative;
	font-family: Arial;
	color: #ffffff;
	font-size: 69.5%;
	top: 30px;
	left: 7%;
	margin: auto;
}

.twitter{
	
	left: 55%;
}
.facebook{
	position: relative;
	left: 56%;
}
.rss{
	position: relative;
	left: 57%;
}

.header-menu{
	position: relative;
	top: 5%;
	width: 100%;
	margin: 0 auto;	
}

.background-menu{
	position: absolute;
	top: 10%;
	height: 4.5%;
	width: 100%;

	margin: 0 auto;
	border-top: 1px dashed #948e8d;
	border-bottom: 1px dashed #948e8d;; 
}
.header-menu nav{
	position: relative;
	margin: 0 auto;
	padding-top: 15px;
}
.header-menu a{
	font-size: 1%;
	font-weight: 600;
	padding: 2px 21px 2px 21px;
	color: #3e3e3e;
	text-decoration: none;
}

.header-menu a:hover{
	border-radius: 2px;
	background: #65625f;
	color: #ffffff;
}

.main{
	position: relative;
	top: 70px;
	margin: 30px auto;
	width: 62.5%;
	height: 68.75%;
	background: #f9f9f9;
	border: 1px solid #ccc;
  	border-radius: 7px; 
}

.left-sidebar{
	padding: 0px;
	width: 15.625%;
	float: left;
}

.left-sidebar ul{
	list-style: none;
	margin-top: 4px;
	padding: 0px;
}

.left-sidebar a{
	font-size: 0.95em;
	padding-left: 50px;
	padding: 17px 0px 17px 50px;
	text-decoration: none;
	font-family: Tahoma;
	font-weight: 600;
	color: #787878;
}

.left-sidebar li{
	padding-top: 17px;
	padding-bottom: 17px;
	border-bottom: 1px solid #eeeeee;
	background: url(../images/menu-image.png) no-repeat;
	background-position: 185px -1px;
	height: 20px;
}

.left-sidebar li:hover{
	background-position: 185px -61px;
}

.left-sidebar a:hover{
	color: #f14134;
}

.general-column {
	margin-left: 250px;
	padding-left: 25px;
	padding-top: 15px;
	height: 1100px;
	width: 46.875%;
	border-left: 1px solid #dddbdb;
}

.breadcrumb{
	font-family: Verdana;
	font-size: 0.8rem;
	font-weight: 600;
	color: #666666;
	width: 700px;
	border-bottom: 1px solid #dddbdb;
}

.search-box input[type="search"]{
	position: relative;
	width: 16.625em;
	height: 25px;
	top: -28px;
	left: 790px;
	border: 1px solid #d2d1d1;
	color: #ccc;
	font-size: 0.7rem;
	padding-left: 5px;
}

.search-box input[type="submit"]{
	position: relative;
	top: -19px;
	left: 755px;
	background: url(../images/search.png);
	color: #ffffff;
	outline: none;
	height: 23px; 
	width: 25px;
	border: none;
}
}*/